Manifest.toml
report/*.aux
report/*.log
report/*.bbl
report/*.blg
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.toc
report/*.bib.bak
report/*.bib.sav


report/contents/*.aux





report/FMA-Vorlage.run.xml
report/FMA-Vorlage.bcf
report/FMA-Vorlage.out
